name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: validate with Maven
      run: mvn -B validate --file pom.xml

    - name: compile with Maven
      run: mvn -B compile --file pom.xml
    
    - name: test with Maven
      run: mvn -B test --file pom.xml
    
    - name: package with Maven
      run: mvn -B package --file pom.xml

    - name: integration-test with Maven
      run: mvn -B integration-test --file pom.xml

    - name: verify with Maven
      run: mvn -B verify --file pom.xml

    - name: install with Maven
      run: mvn -B install --file pom.xml



